!log/.keep
!public/assets/.keep
!tmp/.keep
.bundle
.byebug_history
.circleci
.env
.env.*
.git/*
.github
.gitignore
.idea
.rspec
.rubocop.yml
Dockerfile
README.md
bitbucket
bk_*
coverage
db/*.sqlite3
db/seeds.rb
db/seeds/*
docker-compose.yml
documents
log/*
node_modules
public/assets/*
scripts
spec
vendor
yarn-error.log
